/* You can add global styles to this file, and also import other style files */

body{
    margin:0;
    padding:10px;
    background-color: rgb(179, 248, 179);
}

.container{
    width: 100%;
    padding:10px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
}

html, body {
    height: 92vh;
  }